@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e0dcd8; /* scroll bar background */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #c1bcb7; /* actual draggable part */
  border-radius: 10px;
  border: 2px solid #e0dcd8; /* optional for spacing */
}
